
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


.container {
  max-width: 960px;
}

/*
 * Custom translucent site header
 */

.site-header {
  background-color: rgba(0, 0, 0, .85);
  -webkit-backdrop-filter: saturate(180%) blur(20px);
  backdrop-filter: saturate(180%) blur(20px);
}
.site-header a {
  color: #999;
  transition: ease-in-out color .15s;
}
.site-header a:hover {
  color: #fff;
  text-decoration: none;
}

/*
 * Dummy devices (replace them with your own or something else entirely!)
 */

.product-device {
  position: absolute;
  right: 10%;
  bottom: -30%;
  width: 300px;
  height: 540px;
  background-color: #333;
  border-radius: 21px;
  -webkit-transform: rotate(30deg);
  transform: rotate(30deg);
}

.product-device::before {
  position: absolute;
  top: 10%;
  right: 10px;
  bottom: 10%;
  left: 10px;
  content: "";
  background-color: rgba(255, 255, 255, .1);
  border-radius: 5px;
}

.product-device-2 {
  top: -25%;
  right: auto;
  bottom: 0;
  left: 5%;
  background-color: #e5e5e5;
}


/*
 * Extra utilities
 */

.border-top { border-top: 1px solid #e5e5e5; }
.border-bottom { border-bottom: 1px solid #e5e5e5; }

.box-shadow { box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05); }

.flex-equal > * {
  -ms-flex: 1;
  flex: 1;
}
@media (min-width: 768px) {
  .flex-md-equal > * {
    -ms-flex: 1;
    flex: 1;
  }
}

.overflow-hidden { overflow: hidden; }

.text-hover-color-darkred{color:black}
.text-dark-hover-color-yeloow{color:black}
.text-hover-color-darkred:hover{color: darkred;}
.text-dark-hover-color-hotpink{color: white;}
.text-dark-hover-color-orange{color: white}
.text-dark-hover-color-hotpink:hover{color: hotpink;}
.text-dark-hover-color-yeloow:hover{ color: yellow;}
.text-dark-hover-color-orange:hover{color: orange}

.image{
  overflow:hidden;
}
.image img {
  -moz-transition: all 1s ease-out;
  -o-transition: all 1s ease-out;
  -webkit-transition: all 1s ease-out;
}

.image img:hover{
  -webkit-transform: scale(1.3);
  -moz-transform: scale(1.3);
  -o-transform: scale(1.3);
}

.mood-btn{
  border: 1px solid white;
  color: white;
  font-size: 24px;
}
.mood-btn:hover{
  border: 1px solid aqua;
  color: aqua;
}

.checkbox-my{
  cursor: pointer;
  -webkit-appearance: none;
  background-color: #fafafa;
  border: 10px solid #cacece;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
  padding: 9px;
  border-radius: 3px;
  display: inline-block;
  position: relative;
}


.checkbox-my:active, .checkbox-my:checked:active {
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.checkbox-my:checked {
  background-color: #e9ecee;
  border: 10px solid #adb8c0;
  box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
  color: #99a1a7;
}

.checkbox-my:checked:after {
  content: '\2714';
  font-size: 14px;
  position: absolute;
  top: 0px;
  left: 3px;
  color: aqua;
}


/**
settings
 */

.scroll-settings {
  border: 1px solid gainsboro;
  padding: 5px;
  font: 16px/26px sans-serif;
  width: 200px;
  height: 200px;
  overflow-y: scroll;
}

/* Scrollbar styles */
::-webkit-scrollbar {
  width: 15px;
  height: 10px;
}

::-webkit-scrollbar-track {
  border: 1px solid black;
  border-radius: 1px;
}

::-webkit-scrollbar-thumb {
  background: gainsboro;
  border-radius: 0px;

}

::-webkit-scrollbar-thumb:hover {
  background: darkblue;
}


.card-block-going{
  border: none;
}
.card-block-going:hover{
  border: 1px solid red;
  cursor: pointer;
  border-radius: 5px;
}


.card-block-hist{
  border: none;
}
.card-block-hist:hover{
  border: 1px solid darkblue;
  cursor: pointer;
  border-radius: 5px;
}

.card-block-bag{
  border: none;
}
.card-block-bag:hover{
  border: 1px solid green;
  cursor: pointer;
  border-radius: 5px;
}